{% extends 'base.html.twig' %}

{% block title %}Nova osoba{% endblock %}

{% block body %}
    <h1>Nova osoba</h1>

    {{ include('osoba/_form.html.twig') }}

    <a href="{{ path('osoba_index') }}">Natrag na listu</a>
{% endblock %}
